<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <title>Angular directivas</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="jquery-ui/jquery-ui-1.10.4.custom.min.css">
        <script src="jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="controller.js"></script>
        <style>
            .circle{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: inline-block;
            }
        </style>
    </head>
    <body ng-controller="FirstController">
    <input type="text" mi-autocomplete="repos" placeholder="Buscar repositorio"/>
        <ul ng-class="no-list" ng-cloak>
            <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
                <div class="circle" back-img="{{repo.owner.avatar_url}}"></div>
                <h1>{{repo.full_name}}</h1>
            </li>
        </ul>
    <a ng-click="main_repo = null">Limpiar</a>
    </body>
</html>